<section>
  <div class="container">
    <h2 class="favorit-title">Some of Our Favorites</h2>
    <p class="favorit-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorite-list">
      <li class="favorit-item">
        <a class="favorit-link" href="#"
          ><img src="./img/favorites/gamburger.jpg" alt="gamburger"
        /></a>
      </li>
      <li class="favorit-item">
        <a class="favorit-link" href="#"
          ><img src="./img/favorites/pasta.jpg" alt="pasta"
        /></a>
      </li>
      <li class="favorit-item">
        <a class="favorit-link" href="#"
          ><img src="./img/favorites/pizza.jpg" alt="pizza"
        /></a>
      </li>
      <li class="favorit-item">
        <a class="favorit-link" href="#"
          ><img src="./img/favorites/chicken.jpg" alt="chicken"
        /></a>
      </li>
      <li class="favorit-item">
        <a class="favorit-link" href="#"
          ><img src="./img/favorites/salat.jpg" alt="salat"
        /></a>
      </li>
      <li class="favorit-item">
        <a class="favorit-link" href="#"
          ><img src="./img/favorites/borshch.jpg" alt="borshch"
        /></a>
      </li>
    </ul>
  </div>
</section>
